* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
header > a {
  text-decoration: none;
}
header > a:hover {
  background-color: red;
  border-radius: 5%;
}
div > Apresentacao {
  display: flex;
  justify-content: center;
}
Apresentacao {
  margin-top: 10px;
  font-family: "Inder", sans-serif;
  font-size: 30px;
}
hr {
  margin: 15px 2%;
  border: 2px solid black;
}
.conteudo-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.label {
  color: #4b3369;
  font-weight: 700;
  font-family: "Hind", sans-serif;
  font-size: 24px;
}
Titulo {
  font-family: "Inder", sans-serif;
  font-size: 32px;
}

.conteudo-sub-div {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: wrap;
}
.item > img {
  background: no-repeat center;
  background-size: cover;
  max-height: 200px;
  max-width: 300px;
}
.lado-direito {
  display: flex;
  flex-direction: column;
}
Descricao {
  font-family: "Inder", sans-serif;
  font-size: 22px;
}
StacksUtilizadas {
  font-family: "Inder", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #4b3369;
}

.btn-acessar-repositorio {
  background-color: #f04343;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  border-color: transparent;
  max-width: 50%;
  color: #000;
  font-family: "Inder", sans-serif;
  font-size: 22px;
}

@media (max-width: 425px) {
  Apresentacao {
    font-size: 25px;
    text-align: center;
  }
  Descricao {
    font-size: 18px;
  }
  StacksUtilizadas {
    font-size: 18px;
  }
  .btn-acessar-repositorio {
    max-width: 100%;
  }
}
