header {
  background-color: #2a2141;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  padding: 15px 10px;
}

HeaderText {
  color: #fff;
  font-family: "Redressed", cursive;
  font-size: 35px;
}

HeaderText > p {
  background-color: beige;
  border-radius: 8px;
  padding: 5px;
  color: black;
}
